{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PocketPass{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ticketsplease_style.css' %}">
    <style>
        :root {
            --sunset: #FFB967;
            --sand: #FFECD1;
            --ocean: #01324C;
            --ocean-light: #005D8D;
        }
        
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block extra_body %}{% endblock %}
</body>
</html>
